@font-face {
    src: url("../font/HelveticaNeueLTStd-BdIt.otf");
    font-family: "Helvetica-bold-italic";
    font-style: normal;
    font-display: swap;
}
@font-face {
    src: url("../font/HelveticaNeueLTStd-BdCnO.otf");
    font-family: "Helvetica-bold-italic-oblique";
    font-style: normal;
    font-display: swap;
}

@font-face {
    src: url("../font/HelveticaNeueLTStd-Lt.otf");
    font-family: "Helvetica-light";
    font-style: normal;
    font-display: swap;
}

@font-face {
    src: url("../font/HelveticaNeueLTStd-Md.otf");
    font-family: "Helvetica-medium";
    font-style: normal;
    font-display: swap;
}
@font-face {
    src: url("../font/HelveticaNeueLTStd-Bd.otf");
    font-family: "Helvetica-bold";
    font-style: normal;
    font-display: swap;
}
@font-face {
    src: url("../font/HelveticaNeueLTStd-MdCnO.otf");
    font-family: "Helvetica-medium-italic-oblique";
    font-style: normal;
    font-display: swap;
}
@font-face {
    src: url("../font/NotoSerif-Italic.ttf");
    font-family: "NotoSerif-Italic";
    font-style: normal;
    font-display: swap;
}
@font-face {
    src: url("../font/HelveticaNeueLTStd-Roman.otf");
    font-family: "Helvetica-roman";
    font-style: normal;
    font-display: swap;
}
