@use '../utils' as u;

footer {
    text-align: center;
    color: var(--grey);
    font-size: u.rem(25);
    margin: u.rem(25) 0;
    font-family: "Helvetica-bold";

    @media(max-width: 700px) {
        font-size: u.rem(16);
    }

    a {
        text-decoration: none;
        color: var(--grey);
    }
}