@use "../utils" as u;

main#profile {
    padding: u.rem(20);
    display: flex;

    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;

    @media (max-width: u.rem(1023)) {
        padding: u.rem(30) u.rem(20);
    }

    .profile-title {
        width: 100%;

        h1 {
            a {
                font-size: u.rem(50);
                letter-spacing: u.rem(-2.5);
                line-height: u.rem(68);
                font-family: "NotoSerif-Italic";
                color: var(--textColor);
                text-decoration: none;

                @media (max-width: u.rem(800)) {
                    font-size: u.rem(25);
                    line-height: u.rem(0);
                }
            }

            @media (max-width: u.rem(1023)) {
                margin-bottom: u.rem(20);
            }
        }
    }

    .profile-description-wrapper {
        border-bottom: 1px solid var(--grey);
        padding-bottom: u.rem(80);
        padding-left: u.rem(80);
        padding-right: u.rem(80);

        @media (max-width: u.rem(1023)) {
            border-bottom: unset;
            padding-bottom: unset;
            padding-left: unset;
            padding-right: unset;
        }

        @media (max-width: u.rem(525)) {
            width: 100%;
        }

        &>h2 {
            font-size: u.rem(60);
            font-family: "Helvetica-bold-italic-oblique";
            text-align: center;
        }

        .profile-description {
            margin-top: u.rem(54);
            display: flex;
            align-items: center;
            justify-content: center;
            gap: u.rem(90);

            @media (max-width: u.rem(1023)) {
                gap: u.rem(27);
                margin-top: u.rem(0);
            } 

            picture {
                img {
                    width: u.rem(300);
                    height: u.rem(300);
                    border-radius: 100%;
                    margin-top: u.rem(-100);

                    @media (max-width: u.rem(1023)) {
                        margin-top: u.rem(0);
                        width: u.rem(132);
                        height: u.rem(132);
                        border: 2px solid var(--textColor);
                    }
                }
            }

            .desc {
                .social-counts {
                    display: flex;
                    text-align: center;

                    &>div {
                        margin-right: u.rem(80);

                        @media (max-width: u.rem(1023)) {
                            margin-right: u.rem(50);
                        }

                        @media (max-width: u.rem(525)) {
                            margin-right: u.rem(20);
                        }

                        &>h3 {
                            font-size: u.rem(35);
                            font-family: "Helvetica-bold";

                            @media (max-width: u.rem(1023)) {
                                font-size: u.rem(24);
                            }

                            @media (max-width: u.rem(525)) {
                                font-size: u.rem(12);
                            }
                        }

                        &>p {
                            margin-top: u.rem(10);
                            font-size: u.rem(30);
                            font-family: "Helvetica-light";

                            @media (max-width: u.rem(1023)) {
                                font-size: u.rem(16);
                            }

                            @media (max-width: u.rem(525)) {
                                font-size: u.rem(14);
                                margin-top: u.rem(5);
                            }
                        }
                    }
                }

                .name {
                    margin-top: u.rem(46);
                    font-size: u.rem(35);
                    font-family: "Helvetica-bold";
                }

                .intro {
                    margin-top: u.rem(28);
                    font-size: u.rem(25);
                    font-family: "Helvetica-medium";
                    line-height: u.rem(35);
                }

                .minting {
                    margin-top: u.rem(28);
                    font-size: u.rem(25);
                    font-family: "Helvetica-medium";
                    line-height: u.rem(25);

                    a {
                        color: #5a87ff;
                        text-decoration: none;
                    }
                }

                button {
                    margin-top: u.rem(55);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: u.rem(15);
                    background-color: var(--textColor);
                    color: var(--background);
                    width: u.rem(500);
                    border-radius: u.rem(16);
                    font-size: u.rem(25);
                    font-family: "Helvetica-medium";
                    margin-left: u.rem(-100);
                    cursor: pointer;
                }
            }
        }

        .desc-mobile {
            display: none;

            @media (max-width: u.rem(1023)) {
                display: block;
            }

            .name {
                margin-top: u.rem(16);
                font-size: u.rem(20);
                font-family: "Helvetica-bold";
            }

            .intro {
                margin-top: u.rem(8);
                font-size: u.rem(14);
                font-family: "Helvetica-roman";
                line-height: u.rem(16);
            }

            .minting {
                margin-top: u.rem(16);
                font-size: u.rem(14);
                font-family: "Helvetica-light";

                a {
                    color: #5a87ff;
                    text-decoration: none;
                }
            }
        }
    }

    .profile-portfolio {
        display: grid;
        grid-template-columns: repeat(3, 400px);
        grid-template-rows: 1fr;
        grid-column-gap: 45px;
        grid-row-gap: 45px;
        margin-top: 45px;

        @media (max-width: u.rem(1440)) {
            grid-template-columns: repeat(3, 275px);
        }

        @media (max-width: u.rem(1023)) {
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            border: 1px solid black;
        }

        @media (max-width: u.rem(900)) {
            grid-template-columns: repeat(3, 200px);
        }

        @media (max-width: u.rem(700)) {
            grid-template-columns: repeat(3, 175px);
        }

        @media (max-width: u.rem(600)) {
            grid-template-columns: repeat(3, 150px);
        }

        @media (max-width: u.rem(400)) {
            grid-template-columns: repeat(3, 125px);
        }
        @media (max-width: u.rem(375)) {
            grid-template-columns: repeat(3, 100px);
        }

        div.portfolio-content {
            height: 400px;
            position: relative;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            z-index: 0;

            &.extra {
                &::before {
                    position: absolute;
                   height: 25px; 
                   width: 25px;
                   content: "";
                   right: 15px;
                   top: 15px;
                   z-index: -1;
                   background-position: center;
                   background-repeat: no-repeat;
                   background-size: contain;

                   @media (max-width: 600px) {
                    height: 20px; 
                    width: 20px;
                   }
                }
            }

            &.pin {
                &::before {
                   background-image: url(../image/profile/pin.png);
                  
                }
            }
            &.video {
                &::before {
                   background-image: url(../image/profile/video.svg);
                  
                }
            }

            @media (max-width: u.rem(1440)) {
                height: 275px;
            }

            @media (max-width: u.rem(1023)) {
                border: 1px solid black;
            }

            @media (max-width: u.rem(900)) {
                height: 200px;
            }

            @media (max-width: u.rem(700)) {
                height: 175px;
            }

            @media (max-width: u.rem(600)) {
                height: 150px;
            }

            @media (max-width: u.rem(400)) {
                height: 125px;
            }
            @media (max-width: u.rem(375)) {
                height: 100px;
            }

            .hover-content {
                height: 100%;
                width: 100%;
                background: hsl(0deg 0% 20% / 70%);
                display: none;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                text-align: center;
                cursor: pointer;
                transition: ease 1s;
                z-index: 2;

                .title {
                    font-size: u.rem(60);
                    font-family: "Helvetica-bold-italic-oblique";

                    @media (max-width: 1023px) {
                        font-size: u.rem(40);
                    }
                }
                .counts {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 10px;

                    p {
                        font-size: u.rem(30);
                        font-family: "Helvetica-light";
                        margin: 0 10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        span {
                            display: block;
                            height: 25px;
                            width: 25px;
                            margin-right: 5px;
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: contain;
                        }

                        span.heart {
                            background-image: url(../image/profile/heart.svg);
                        }
                        span.comment {
                            background-image: url(../image/profile/comment.svg);
                        }
                    }
                }
            }

            &:hover {
                .hover-content {
                    display: flex;
                }

            }
        }
    }

    .view-media-container {
        position: fixed;
        height: 100%;
        width: 100%;
        background-color: hsla(0, 0%, 36%, 0.70);
        top: 0;

        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;

        .media-wrapper {
            max-width: u.rem(1440);
            width: 100%;
            max-height: 800px;
            background-color: green;

            display: flex;
            align-items: center;
            justify-content: center;

            border-radius: 10px;
            overflow: hidden;

            .grid-wrapper {
                display: grid;
                grid-template-columns: 40% 60%;
                grid-template-rows: 1fr;
                grid-column-gap: 0px;
                grid-row-gap: 0px;
                width: 100%;

                .comment {
                    width: 100%;
                    background-color: var(--textColor);
                    .header {
                        padding: 15px 30px;

                        display: grid;
                        grid-template-columns: 60px auto 27px;
                        grid-template-rows: 1fr;
                        grid-column-gap: 12px;
                        grid-row-gap: 0px;

                        align-items: center;

                        border-bottom: #B5B5B5 1px solid;

                        .mini-profile {
                            width: 60px;
                            height: 60px;
                            object-fit: cover;
                            border-radius: 100%;
                        }
                        .username {
                            font-size: 30px;
                            font-family: "Helvetica-medium";
                            color: var(--background);
                        }
                        span.close {
                            color: var(--background); 
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }

}