@use "../utils" as u;

main#profile {
    padding: u.rem(20);
    display: flex;

    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;

    @media (max-width: u.rem(1023)) {
        padding: u.rem(30) u.rem(20);
    }

    .profile-title {
        width: 100%;

        margin-bottom: 1.25rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .chat-me {
            height: 49px;
            width: 49px;
            background-image: url(../image/profile/chat.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;

            display: none;

             @media (max-width: 1023px) {
                display: block;
             }
        }

        h1 {
            a {
                font-size: u.rem(50);
                letter-spacing: u.rem(-2.5);
                line-height: u.rem(68);
                font-family: "NotoSerif-Italic";
                color: var(--textColor);
                text-decoration: none;

                @media (max-width: u.rem(800)) {
                    font-size: u.rem(25);
                    line-height: u.rem(0);
                }
            }
        }

        @media (max-width: u.rem(1023)) {
            margin-bottom: u.rem(20);
        }
    }

    .profile-description-wrapper {
        border-bottom: 1px solid var(--grey);
        padding-bottom: u.rem(80);
        padding-left: u.rem(80);
        padding-right: u.rem(80);

        @media (max-width: u.rem(1023)) {
            border-bottom: unset;
            padding-bottom: unset;
            padding-left: unset;
            padding-right: unset;
        }

        @media (max-width: u.rem(525)) {
            width: 100%;
        }

        &>h2 {
            font-size: u.rem(60);
            font-family: "Helvetica-bold-italic-oblique";
            text-align: center;
        }

        .profile-description {
            margin-top: u.rem(54);
            display: flex;
            align-items: center;
            justify-content: center;
            gap: u.rem(90);

            @media (max-width: u.rem(1023)) {
                gap: u.rem(27);
                margin-top: u.rem(0);
            } 

            picture {
                img {
                    width: u.rem(300);
                    height: u.rem(300);
                    border-radius: 100%;
                    margin-top: u.rem(-100);

                    @media (max-width: u.rem(1023)) {
                        margin-top: u.rem(0);
                        width: u.rem(132);
                        height: u.rem(132);
                        border: 2px solid var(--textColor);
                    }
                }
            }

            .desc {
                .social-counts {
                    display: flex;
                    text-align: center;
                    position: relative;
                    width: fit-content;


                    &:hover > .view-ff-container {

                        @media (min-width: 1024px) {
                            display: block !important;
                        }

                    }

                    &>div {
                        margin-right: u.rem(80);

                        @media (max-width: u.rem(1023)) {
                            margin-right: u.rem(50);
                        }

                        @media (max-width: u.rem(525)) {
                            margin-right: u.rem(20);
                        }

                        &>h3 {
                            font-size: u.rem(35);
                            font-family: "Helvetica-bold";

                            @media (max-width: u.rem(1023)) {
                                font-size: u.rem(24);
                            }

                            @media (max-width: u.rem(525)) {
                                font-size: u.rem(12);
                            }
                        }

                        &>p {
                            margin-top: u.rem(10);
                            font-size: u.rem(30);
                            font-family: "Helvetica-light";

                            @media (max-width: u.rem(1023)) {
                                font-size: u.rem(16);
                            }

                            @media (max-width: u.rem(525)) {
                                font-size: u.rem(14);
                                margin-top: u.rem(5);
                            }
                        }
                        &.view-ff-container {

                            display: none !important;
                        }
                        @media (min-width: 1024px) {
                            &.view-ff-container {
                                all: unset;
                                position: absolute;
                                right: -350px;
                                background: white;
                                border-radius: 20px;
                                color: black;
                                width: 400px;
                                height: 570px;    margin-left: 500px;

                                box-shadow: #FFFFFF 0 0 10px;

                                .ff-wrapper {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    flex-direction: column;

                                    .header {
                                        font-size: u.rem(22);
                                        font-family: "Helvetica-bold";
                                        padding: 20px 0px;
                                        border-bottom: 1px solid #C0BCBC;
                                        width: 100%;
                                    }
                                    .tab-list {
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        width: 100%;

                                        p {
                                            flex-basis: 50%;
                                            text-align: center;
                                            font-family: "Helvetica-bold";
                                            font-size: u.rem(15);
                                            padding: 15px 0;
                                            border-bottom: 1px solid #C0BCBC;
                                            color: #C0BCBC;
                                            cursor: pointer;

                                            &.active {
                                                border-bottom:1px solid #000000;
                                                color: #000000;
                                            }
                                        }
                                    }

                                    .ff-list {
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        width: 100%;
                                        flex-wrap: wrap;
                                        overflow-y: scroll;
                                        height: 450px;
                                        
                                        .ff-item {
                                            display: grid;
                                            grid-template-columns: 90px auto 90px;
                                            grid-template-rows: 1fr;
                                            grid-column-gap: 10px;
                                            grid-row-gap: 10px;
                                            align-items: center;
                                            width: inherit;
                                            padding: 10px 15px;

                                            

                                            &:not(:first-child) {

                                                img {
                                                    border: 1px solid #000;
                                                }
                                                .name {
                                                    color: #C0BCBC;
                                                }
                                                .mint {
                                                    background-color: #C4C4C4;
                                                    color: #D3D2D2;
                                                    pointer-events: none;
                                                }
                                            }

                                            img {
                                                height: 90px;
                                                width: auto;
                                                object-fit: contain;
                                                background: white;
                                                border-radius: 100%;
                                            }

                                            .name {
                                                all: unset;
                                                font-size: u.rem(25);
                                                font-family: "Helvetica-bold";
                                            }

                                            .mint {
                                                all: unset;
                                                background-color: #6d6d6d;
                                                color: var(--textColor);
                                                border: none;
                                                padding: 7px 0;
                                                width: 100%;
                                                font-family: "Helvetica-medium";
                                                font-size: 16px;
                                                letter-spacing: -0.32px;
                                                border-radius: 10px;
                                                cursor: pointer;
                                            }
                                        }
                                    }
                                }
                            }
                            
                        }
                        @media(max-width: 1023px) { 
                            &.buy-cokastagram {
                                position: relative;
                               &:hover {
                                color: var(--background);
                                &::before {
                                    height: 100%;
                                    width: 100%;
                                    position: absolute;
                                    content: '';
                                    color: var(--textColor);
                                    top: 0;right: 0;
                                    background-image: url(../image/profile/buy.svg);
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    background-size: contain;
                                }
                               }
                            }
                        }
                    }
                }

                .name {
                    margin-top: u.rem(46);
                    font-size: u.rem(35);
                    font-family: "Helvetica-bold";
                }

                .intro {
                    margin-top: u.rem(28);
                    font-size: u.rem(25);
                    font-family: "Helvetica-medium";
                    line-height: u.rem(35);
                }

                .minting {
                    margin-top: u.rem(28);
                    font-size: u.rem(25);
                    font-family: "Helvetica-medium";
                    line-height: u.rem(25);

                    a {
                        color: #5a87ff;
                        text-decoration: none;
                    }
                }

                button {
                    margin-top: u.rem(55);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: u.rem(15);
                    background-color: var(--textColor);
                    color: var(--background);
                    width: u.rem(500);
                    border-radius: u.rem(16);
                    font-size: u.rem(25);
                    font-family: "Helvetica-medium";
                    margin-left: u.rem(-100);
                    cursor: pointer;
                }
            }
        }

        .desc-mobile {
            display: none;

            @media (max-width: u.rem(1023)) {
                display: block;
            }

            .name {
                margin-top: u.rem(16);
                font-size: u.rem(20);
                font-family: "Helvetica-bold";
            }

            .intro {
                margin-top: u.rem(8);
                font-size: u.rem(14);
                font-family: "Helvetica-roman";
                line-height: u.rem(16);
            }

            .minting {
                margin-top: u.rem(16);
                font-size: u.rem(14);
                font-family: "Helvetica-light";

                a {
                    color: #5a87ff;
                    text-decoration: none;
                }
            }
        }
    }

    .profile-portfolio {
        display: grid;
        grid-template-columns: repeat(3, 400px);
        grid-template-rows: 1fr;
        grid-column-gap: 45px;
        grid-row-gap: 45px;
        margin-top: 45px;

        @media (max-width: u.rem(1440)) {
            grid-template-columns: repeat(3, 275px);
        }

        @media (max-width: u.rem(1023)) {
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            border: 1px solid black;
        }

        @media (max-width: u.rem(900)) {
            grid-template-columns: repeat(3, 200px);
        }

        @media (max-width: u.rem(700)) {
            grid-template-columns: repeat(3, 175px);
        }

        @media (max-width: u.rem(600)) {
            grid-template-columns: repeat(3, 150px);
        }

        @media (max-width: u.rem(500)) {
            grid-template-columns: repeat(3, 130px);
        }

        @media (max-width: u.rem(400)) {
            grid-template-columns: repeat(3, 125px);
        }
        @media (max-width: u.rem(375)) {
            grid-template-columns: repeat(3, 100px);
        }

        div.portfolio-content {
            height: 400px;
            position: relative;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            z-index: 0;

            &.extra {
                &::before {
                    position: absolute;
                   height: 25px; 
                   width: 25px;
                   content: "";
                   right: 15px;
                   top: 15px;
                   z-index: -1;
                   background-position: center;
                   background-repeat: no-repeat;
                   background-size: contain;

                   @media (max-width: 600px) {
                    height: 20px; 
                    width: 20px;
                   }
                }
            }

            &.pin {
                &::before {
                   background-image: url(../image/profile/pin.png);
                  
                }
            }
            &.video {
                &::before {
                   background-image: url(../image/profile/video.svg);
                  
                }
            }

            @media (max-width: u.rem(1440)) {
                height: 275px;
            }

            @media (max-width: u.rem(1023)) {
                border: 1px solid black;
            }

            @media (max-width: u.rem(900)) {
                height: 200px;
            }

            @media (max-width: u.rem(700)) {
                height: 175px;
            }

            @media (max-width: u.rem(600)) {
                height: 150px;
            } 
            @media (max-width: u.rem(500)) {
                height: 130px;
            }

            @media (max-width: u.rem(400)) {
                height: 125px;
            }
            @media (max-width: u.rem(375)) {
                height: 100px;
            }

            .hover-content {
                height: 100%;
                width: 100%;
                background: hsl(0deg 0% 20% / 70%);
                display: none;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                text-align: center;
                cursor: pointer;
                transition: ease 1s;
                z-index: 2;

                .title {
                    font-size: u.rem(60);
                    font-family: "Helvetica-bold-italic-oblique";

                    @media (max-width: 1023px) {
                        font-size: u.rem(40);
                    }
                }
                .counts {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 10px;

                    p {
                        font-size: u.rem(30);
                        font-family: "Helvetica-light";
                        margin: 0 10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        span {
                            display: block;
                            height: 25px;
                            width: 25px;
                            margin-right: 5px;
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: contain;
                        }

                        span.heart {
                            background-image: url(../image/profile/heart-white.svg);
                        }
                        span.comment {
                            background-image: url(../image/profile/comment.svg);
                        }
                    }
                }
            }

            &:hover {
                .hover-content {
                    display: flex;
                }

            }
        }
    }

    .view-media-container {
        position: fixed;
        height: 100%;
        width: 100%;
        background-color: hsla(0, 0%, 36%, 0.70);
        top: 0;

        display: none;
        align-items: center;
        justify-content: center;
        padding: 15px;

        .media-wrapper {
            max-width: u.rem(1440);
            width: 100%;
            max-height: 800px;
            background-color: var(--background);

            display: flex;
            align-items: center;
            justify-content: center;

            border-radius: 10px;
            overflow: hidden;

            position: relative;

            .grid-wrapper {
                display: grid;
                grid-template-columns: 40% 60%;
                grid-template-rows: 1fr;
                grid-column-gap: 0px;
                grid-row-gap: 0px;
                width: 100%;

                .media {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .media-cont {
                        height: 600px;
                        width: 100%;
                        img, video {
                            width: 100%;
                            height: 100%;
                            object-position: center;
                            object-fit: cover;
                        }
                    }
                }

                .comment {
                    width: 100%;
                    background-color: var(--textColor);
                    .header {
                        padding: 15px 30px;

                        display: grid;
                        grid-template-columns: 60px auto 27px;
                        grid-template-rows: 1fr;
                        grid-column-gap: 12px;
                        grid-row-gap: 0px;

                        align-items: center;

                        border-bottom: #B5B5B5 1px solid;

                        .mini-profile {
                            width: 60px;
                            height: 60px;
                            object-fit: cover;
                            border-radius: 100%;
                        }
                        .username {
                            font-size: 30px;
                            font-family: "Helvetica-medium";
                            color: var(--background);
                        }
                        span.close {
                             
                            cursor: pointer;
                            height: 25px;
                            width: 25px;
                            background-image: url(../image/profile/close.svg);
                            background-position: center;
                            background-repeat: no-repeat;
                        }
                    }
                }

                .comment-list {
                    padding: 15px 30px;
                    color: var(--background);
                    overflow: scroll;
                    min-height: 600px;
                    max-height: 600px;

                    .comment-item {
                        display: grid;
                        grid-template-columns: 60px auto 27px;
                        grid-template-rows: 1fr;
                        grid-column-gap: 12px;
                        grid-row-gap: 0px;
                        margin-bottom: 30px;

                        img.comment-profile {
                            width: 60px;
                            height: 60px;
                            object-fit: cover;
                            border-radius: 100%;
                        }

                        .comment-wrapper-item {
                            margin-top: 15px;

                            .username {
                                font-size: 30px;
                                font-family: "Helvetica-medium";
                                
                                .mini-comment {
                                    font-family: "Helvetica-light";
                                    margin-left: 20px;
                                }
                                .mini-comment-other {
                                    font-family: "Helvetica-light";
                                    margin-left: 20px;
                                    font-size: 20px;
                                }
                            }

                            .comment-text {
                                display: block;
                                margin-top: 22px;
                                font-family: "Helvetica-light";
                                font-size: 20px;
                                line-height: 25px;
                            }
                        }
                    }
                }

                .actions {
                    border-top: #B5B5B5 1px solid;
                    border-bottom: #B5B5B5 1px solid;
                    padding: 7.5px 30px;
                    display: flex;
                    align-items: center;

                    span {
                        display: inline-block;
                        background-repeat: no-repeat;
                        background-size: contain;
                        cursor: pointer;
                        margin-right: 10px;
                        background-position: center;
                        height: 24px;
                        width: 24px;
                        
                        &.like {
                            background-image: url(../image/profile/heart-button-line.svg);
                            &:hover, &.active {
                                background-image: url(../image/profile/heart-active.svg);
                            }
                        }
                        &.comment {
                            background-image: url(../image/profile/comment-button-line.png);
                        }
                        &.share {
                            background-image: url(../image/profile/share-button-line.svg);
                        }
                    }
                }

                .message-sent {
                    padding: 7.5px 30px;
                    display: grid;
                    grid-template-columns: 30px auto 80px;
                    grid-template-rows: 1fr;
                    grid-column-gap: 12px;
                    grid-row-gap: 0px;
                    align-items: center;

                    .emoticons {
                        background-position: center;
                        height: 30px;
                        border: unset;
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-image: url(../image/profile/emoticons.svg);
                        cursor: pointer;
                        background-color: transparent;
                    }
                    .input-message {
                        height: 30px;
                        border: none;
                        font-family: "Helvetica-light";
                        font-size: 20px;
                        outline: none;

                        &::placeholder {
                            color: #AEAEAE;
                        }
                    }
                    .send {
                        color: hsla(210, 72%, 58%, 0.39);
                        font-family: "Helvetica-bold";
                        background: none;
                        border: none;
                        font-size: 22px;
                        pointer-events: none;

                        &.active {
                            color: hsl(210, 72%, 58%);
                            cursor: pointer;
                            pointer-events: unset;
                        }
                    }
                }

            }
            .share-links {
                position: absolute;
                background: #000000e0;
                font-size: 30px;
                padding: 20px 50px;
                border-radius: 50px;
                display: none
            }
        }
    }

    .send-message {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        display: none;
        
        .flex-center {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;

            .message-wrapper {
                width: 441px;
                height: 600px;
                background-image: url(../image/message-bg.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;

                .message-cont {
                    padding: 140px 40px 50px 40px;
                    position: relative;

                    .close {
                        position: absolute;
                        height: 20px;
                        width: 20px;
                        top: 80px;
                        right: 60px;
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-image: url(../image/profile/close.svg); cursor: pointer;
                    }

                    .message-list {
                        height: 375px;
                        overflow-y: scroll;

                        height: 375px;
                        overflow-y: scroll;
                        display: flex;
                        flex-direction: column;

                        .message-item {
                            color: black;
                            margin-bottom: 10px;
                            padding: 7px 15px;
                            border-radius: 20px;
                            border: 1px solid #797979;
                            width: fit-content;
                            font-size: 18px;
                            font-family: "Helvetica-light";

                            max-width: 90%;

                            &.sent {
                                align-self: end;
                                background-color: #B5B5B5;
                                border: none;
                            }
                        }
                    }
                    .send-dm {
                        display: grid;
                        grid-template-columns: 36px auto 75px;
                        grid-template-rows: 1fr;
                        grid-column-gap: 5px;
                        grid-row-gap: 5px;
                        align-items: center;

                        border: 1px solid grey;
                        padding: 5px;
                        border-radius: 50px;

                        img {
                            cursor: pointer;
                            height: 36px;
                            object-fit: cover;
                        }

                        input {
                            height: 36px;
                            outline: none;
                            border: none;
                        }

                        button {
                            outline: none;
                            border: none;
                            color: hsla(210, 72%, 58%, 0.39);
                            font-size: u.rem(22);
                            font-family: "Helvetica-bold";cursor: pointer;
                            pointer-events: none;
                            background-color: transparent;
    
                            &.active {
                                color: hsl(210, 72%, 58%);
                                cursor: pointer;
                                pointer-events: unset;
                            }
                        }
                    }
                }
            }
        }

    }

    .view-media-container-mobile {
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0;
        overflow-y: scroll;
        scrollbar-width: none;
        background-color: var(--background);
        display: none;

        &::-webkit-scrollbar { /* WebKit */
            width: 0;
            height: 0;
        }

        .mobile-wrapper {
            width: 100%;
            
            .header {
                font-family: "NotoSerif-Italic";
                font-size: 16px;
                letter-spacing: -.8px;
                padding: 20px;
                text-align: center;
                position: relative;
                .back {
                    position: absolute;
                    height: 25px;
                    width: 25px;
                    left: 20px;
                    top: 15px;
                    background-image: url(../image/profile/mobile-back.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }

            .profile {
                padding: 20px;
                display: flex;
                align-items: center;

                img {
                    width: 44px;
                    height: 44px;
                    object-fit: cover;
                    border-radius: 100%;
                    border: 1px solid var(--textColor);
                    margin-right: 14px;
                }

                font-family: "Helvetica-bold";
                font-size: 21px;
            }
            .media {
                width: 100%;
                height: 360px;

                img, video {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .actions {
                padding: 23px 20px;
                display: flex;
                align-items: center;

                span {
                    display: inline-block;
                    height: 20px;
                    width: 20px;
                    margin-right: 10px;
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;

                    &.heart {
                        background-image: url(../image/profile/heart-mobile.svg);
                        &:hover, &.active {
                            background-image: url(../image/profile/heart-active.svg);
                        }
                    }
                    &.comment {
                        background-image: url(../image/profile/comment-mobile.svg);
                    }
                }
            }
            .media-content {
                padding: 0 20px 20px 20px;
                
                .username { 
                    font-size: 21px;
                    font-family: "Helvetica-bold";
                    display: flex;
                    margin-bottom: 20px;

                    span {
                        font-family: "Helvetica-light";
                        font-size: 18px;
                        line-height: 28px;
                    }
                }
                .context {
                    margin-top: 14px;
                    font-family: "Helvetica-light";
                    font-size: 18px;
                }
            }
        }
    }

    .view-chat-container-mobile {
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0;
        overflow-y: scroll;
        scrollbar-width: none;
        background-color: var(--background);
        display: none;

        &::-webkit-scrollbar { /* WebKit */
            width: 0;
            height: 0;
        }

        .mobile-wrapper {
            width: 100%;
            height: 100%;
            
            .header {
                font-family: "NotoSerif-Italic";
                font-size: 16px;
                letter-spacing: -.8px;
                padding: 20px;
                text-align: center;
                position: relative;
                .back {
                    position: absolute;
                    height: 25px;
                    width: 25px;
                    left: 20px;
                    top: 15px;
                    background-image: url(../image/profile/mobile-back.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }

            .mobile-chat-list {
                height: 70%;
                display: flex;
                flex-direction: column;
                justify-content: end;
                padding: 20px 20px;
                overflow-y: auto;

                li {
                    color: var(--background);
                    background-color: var(--textColor);
                    width: fit-content;
                    margin-bottom: 10px;
                    padding: 15px 20px;
                    font-size: 16px;
                    border-radius: 20px;
                    font-family: "Helvetica-roman";
                    max-width: 90%;

                    &.sent {
                        align-self: end;
                        color: var(--textColor);
                        background-color: #4794e1;
                    }

                }
            }

            .send-dm-mobile {
                display: grid;
                grid-template-columns: 36px auto 75px;
                grid-template-rows: 1fr;
                grid-column-gap: 5px;
                grid-row-gap: 5px;
                align-items: center;

                border: 1px solid white;
                padding: 5px;
                border-radius: 50px;

                background-color: white;
                
                margin: 30px;

                img {
                    cursor: pointer;
                    height: 36px;
                    object-fit: cover;
                }

                input {
                    height: 36px;
                    outline: none;
                    border: none;
                    background-color: transparent;
                }

                button {
                    outline: none;
                    border: none;
                    color: hsla(210, 72%, 58%, 0.39);
                    font-size: u.rem(18);
                    font-family: "Helvetica-bold";cursor: pointer;
                    pointer-events: none;
                    background-color: transparent;

                    &.active {
                        color: hsl(210, 72%, 58%);
                        cursor: pointer;
                        pointer-events: unset;
                    }
                }
            }
        }
    }

    .view-follower-container-mobile {
        display: none;
        @media (max-width: 1023px) {
            position: fixed;
            height: 100vh;
            width: 100%;
            top: 0;
            overflow-y: scroll;
            scrollbar-width: none;
            background-color: var(--background);

            &::-webkit-scrollbar { /* WebKit */
                width: 0;
                height: 0;
            }

            .mobile-wrapper {
                width: 100%;
                height: 100%;
                
                .header {
                    font-family: "Helvetica-bold-italic-oblique";
                    font-size: 30px;
                    letter-spacing: -.6px;
                    padding: 45px 20px;
                    text-align: center;
                    position: relative;
                    .back {
                        position: absolute;
                        height: 25px;
                        width: 25px;
                        left: 20px;
                        top: 15px;
                        background-image: url(../image/profile/mobile-back.png);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                }

                .tab-list {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;

                    p {
                        flex-basis: 50%;
                        color: #C0BCBC;
                        border-bottom: 1px solid #C0BCBC;
                        padding-bottom: 10px;
                        font-family: "Helvetica-bold";
                        font-size: 15px;
                        letter-spacing: -.3px;
                        
                        &:hover, &.active {
                            color: #FFFFFF;
                            border-bottom: 1px solid #FFFFFF;
                        }
                    }
                }

                .ff-list {
                    padding: 30px 20px;

                    .ff-item {
                        display: grid;
                        grid-template-columns: 70px auto 80px;
                        grid-template-rows: 1fr;
                        grid-column-gap: 0px;
                        grid-row-gap: 0px;
                        align-items: center;
                        
                        img {
                            height: 70px;
                            width: 100%;
                            object-fit: contain;
                        }
                        p.name {
                            color: var(--textColor);
                            text-align: center;
                            font-family: "Helvetica-bold";
                            font-size: 18px;
                            letter-spacing: -.36px;
                        }
                        button.mint {
                            background-color: #6D6D6D;
                            color: var(--textColor);
                            border: none;
                            padding: 7px;
                            width: 100%;
                            font-family: "Helvetica-medium";
                            font-size: 16px;
                            letter-spacing: -.32px;
                            border-radius: 10px;
                        }
                    }
                }
            }
        }
        // @media (min-width: 1024px) {
        //     position: absolute;
        //     top: 225px;
        //     background: red;
        //     width: 400px;
        //     right: 15%;

        //     .mobile-wrapper {

        //         .header {
        //             font-family: "Helvetica-bold-italic-oblique";
        //             font-size: 30px;
        //             letter-spacing: -.6px;
        //             padding: 45px 20px;
        //             text-align: center;
        //             position: relative;
        //         }
        //     }
        // }
    }

}